*.log
/logs/*
!/logs/.gitkeep

dump.*
*session_config.json

# Virtual envs
.env
.venv
env/
venv/

# IDE
.vscode

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec
